.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.headerText{
  margin-left: 200px;
  font-size: 30px;
  font-weight: 600;
  color:white
}
.headerbar{
  border-width: 3px !important;
  border-color: white !important;
}
#left{
  width:50%;
  float:left;
  overflow: hidden;
}

.mainContainer{
  border-width: 3px !important;
  border-color: black !important;
  height: 596px;
}

#right{
  width:50%;
  float:right;
  overflow: hidden;
}
.App-header {
  background-color:#074377;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
